$brandColor: #318da7;

$textColor: #333; // black
$textColorLight: #aeaeae; // gray

$highlightColor: #f8f2c6;

$linkColor: $brandColor;
$linkColorHover: $brandColor;

$baseFontSize: 13px;
$baseLineHeight: 1.5;
$baseFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$headlineFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$displayFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$plainFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;